<div id="<%= dom_id customer %>">
  <p>
    <strong>Email:</strong>
    <%= link_to customer.email, customer %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= customer.customer_id %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= customer.customer_name %>
  </p>
</div>
